
.card{
    text-align: center;
    color:rgb(80, 48, 1);
    width: 350px;
    padding: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 30px;  
    margin: 10px;
}

.card-img{
    justify-self: center;
    width: 200px;
    height: 200px;
}

.btn-buy{
    cursor: pointer;
    background-color: rgb(172, 148, 84);
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
    border: 0px;
}