.cart-container{
    display: flex;
    cursor: pointer;
}

.cart-img{
    width: 20px;
    height: 20px;
    align-self: center;
}

.cart-number{
    margin-left: 4px;
    padding: 5px;
    border-radius: 30px;
    background-color: rgba(204, 204, 204, 0.664);
    align-self: center;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.377);
}