.cart-container{
    display: flex;
    cursor: pointer;
}

.cart-img{
    width: 20px;
    height: 20px;
    align-self: center;
}

.cart-number{
    margin-left: 4px;
    padding: 6px;
    border-radius: 30%;
    background-color: rgb(214, 130, 130);
    align-self: center;
}